@using Dr_Hesabi.Classes.Class
@model IEnumerable<Dr_Hesabi.DataLayers.Entity.News>

@if (Model.Any())
{
    <div class="Panel_TitleMain">
        <div class="row">
            <div class="Panel_Line"></div>
            <div class="Panel_Title">
                <h4>جدیدترین اخبار</h4>
            </div>
           @if (Model.Count() > 12)
           {
               <div class="Panel_All">
                   <a href="@Url.Action("News","Panel")">مشاهده همه <i class="mdi mdi-arrow-left"></i></a>
               </div>
           }
        </div>
    </div>
   <div id="Panel">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="Box">
                            <div class="Box_Img">
                                <a href="@Url.Action("ShowNews","Panel",new{id=item.NewsID,title=item.Title})">
                                    <img src="~/Images/News/@item.ImageName" alt="@item.Title" title="@item.Title" loading="lazy">
                                </a>
                            </div>
                            <div class="Box_Title">
                                <a href="@Url.Action("ShowNews","Panel",new{id=item.NewsID,title=item.Title})">@item.Title</a>
                            </div>
                            <div class="Box_Fooder">
                                <span class="Box_Fooder_Right"><i class="mdi mdi-clock-outline"></i> @item.DateTime.ToDate()</span>
                                <span class="Box_Fooder_Left"><i class="mdi mdi-eye"></i> @item.Visit</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}