@model IEnumerable<Dr_Hesabi.DataLayers.Entity.Bests>

@{
    ViewData["Title"] = "آیتم های برترین ها";
}

<h2>زیر مجموعه های @ViewData["BestTitle"]</h2>

<p>
    <a onclick="Create('@ViewData["BestID"]')" class="btn btn-success">افزودن آیتم</a> |
    <a asp-action="Index" class="btn btn-info">برگشت</a>
</p>
<div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>دستورات</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="@((item.IsActive)?"success":"danger")">
                <td>
                    <img src="~/Images/Bests/Best_Items/@item.ImageName" width="100" height="100" class="img-responsive img-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @if (item.IsActive)
                    {
                        <text>
                            <span class="text-success">فعال</span>
                        </text>
                    }
                    else
                    {
                        <text>
                            <span class="text-danger">غیرفعال</span>
                        </text>
                    }
                </td>
                <td>
                    <a onclick="Edit('@item.BestID')" class="btn btn-primary">ویرایش</a> |
                    <a onclick="Delete('@item.BestID')" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<partial name="PartialViews/Modal" />
@section Scripts
{
    <script src="~/Scripts/Bests.js"></script>
}