@using Dr_Hesabi.Classes.Class
@model Dr_Hesabi.DataLayers.Entity.Contents

@{
    ViewData["Title"] = "حذف عضو";
    Layout = "_TeacherLayout";
}
<h2>حذف عضو</h2>
<h3>آیا از این حذف مطمئن هستید؟</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="Delete">
                <div>
                    <span>@Html.LabelFor(s => s.ImageName) : </span>
                    <span>
                        <img src="~/Images/Contents/@Model.ImageName" width="200" height="200" class="img-thumbnail img-responsive" />
                    </span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Title) : </span>
                    <span>@Model.Title</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Description) : </span>
                    <span>@Html.Raw(Model.Description)</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.CreateDate) : </span>
                    <span>@Model.CreateDate.ToDateTime()</span>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="DeleteChild">
        <input type="hidden" asp-for="ContentID" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Lists" asp-route-id="@Model.ParentID" class="btn btn-info">برگشت</a>
    </form>
</div>