@model Dr_Hesabi.DataLayers.Entity.Setting

@{
    ViewData["Title"] = "تنظیمات";
}

<h2>تنظیمات کلی سایت</h2>

@if (Model == null)
{
    <p>
        <a asp-action="Create" class="btn btn-success">افزودن تنظیمات</a>
    </p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="Delete">
                <div>
                    <span>@Html.LabelFor(s => s.NameSite) : </span>
                    <span>@Model.NameSite</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.NameSite2) : </span>
                    <span>@Model.NameSite2</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.ShortDescription) : </span>
                    <span>@Model.ShortDescription</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Targets) : </span>
                    <span>
                        @if (Model.Targets != null)
                        {
                            foreach (var item in Model.Targets.Split(",").ToList())
                            {
                                <text>
                                    <span class="split">@item</span>
                                </text>
                            }
                        }
                    </span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.History) : </span>
                    <span>@Model.History</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.GuideTeacher) : </span>
                    <span>
                        @if (Model.GuideTeacher != null)
                        {
                            foreach (var item in Model.GuideTeacher.Split(",").ToList())
                            {
                                <text>
                                    <span class="split">@item</span>
                                </text>
                            }
                        }
                    </span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.GuideStudent) : </span>
                    <span>
                        @if (Model.GuideStudent != null)
                        {
                            foreach (var item in Model.GuideStudent.Split(",").ToList())
                            {
                                <text>
                                    <span class="split">@item</span>
                                </text>
                            }
                        }
                    </span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Email) : </span>
                    <span>@Model.Email</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.PasswordEmail) : </span>
                    <span>@Model.PasswordEmail</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Telephone) : </span>
                    <span>@Model.Telephone</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Address) : </span>
                    <span>@Model.Address</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.EmailSupport) : </span>
                    <span>@Model.EmailSupport</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.Telegram) : </span>
                    <span>@Model.Telegram</span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.ImgLogo) : </span>
                    <span>
                        <img src="~/Images/Setting/@Model.ImgLogo" width="100" height="100" class="img-thumbnail img-responsive" />
                    </span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.ImgCodeQR) : </span>
                    <span>
                        <img src="~/Images/Setting/@Model.ImgCodeQR" width="100" height="100" class="img-thumbnail img-responsive" />
                    </span>
                </div>
                <div>
                    <span>@Html.LabelFor(s => s.ImgHistory) : </span>
                    <span>
                        <img src="~/Images/Setting/@Model.ImgHistory" width="100" height="100" class="img-thumbnail img-responsive" />
                    </span>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.SettingID" class="btn btn-primary btn-block">ویرایش</a>
                </div>
            </div>
        </div>
    </div>
}

