@using Dr_Hesabi.Classes.Class
@model IEnumerable<Dr_Hesabi.DataLayers.Entity.News>

@{
    ViewData["Title"] = "اخبار";
}

<h2>اخبار</h2>

<p>
    <a asp-action="Create" class="btn btn-success">افزودن خبر</a>
</p>
<div>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>دستورات</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr class="@((item.IsActive)?"success":"danger")">
                <td>
                    <img src="~/Images/News/@item.ImageName" width="100" height="100" class="img-thumbnail img-responsive"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td> 
                    @item.DateTime.ToDate()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visit) نفر
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <text>
                            <span class="text-success">فعال</span>
                        </text>
                    }
                    else
                    {
                        <text>
                            <span class="text-danger">غیرفعال</span>
                        </text>
                    }
                </td>
                <td>
                    <a asp-action="Comments" asp-controller="Home" asp-area="Admin" asp-route-id="@item.NewsID" asp-route-method="خبر" class="btn btn-success">نظر ها</a> |
                    <a asp-action="Edit" asp-route-id="@item.NewsID" class="btn btn-primary">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.NewsID" class="btn btn-warning">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsID" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>